@font-face {
  font-family: Poppins;
  src: url("../components/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins1;
  src: url("../components/fonts/Poppins-ExtraLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.header {
  margin-top: 20px;
}
.header_nav {
  margin: 20px 0px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
.nav_ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header_right {
  gap: 24px;
  display: flex;
  align-items: center;
}
.nav_link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav_link1 {
  color: #22343d;
  font-family: Poppins1;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.header_btn1 {
  background-color: transparent;
  border: 1px solid #bcd0e5;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 10px 22px;
  border-radius: 4px;
}
.header_btn2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
  padding: 10px 22px;
  border: none;
}
